# Bases de datos Padrones
POSTGRES_DB_PADRONES=padrones_db
POSTGRES_USER_PADRONES=admin_padrones
POSTGRES_PASSWORD_PADRONES=secret_padrones
POSTGRES_HOST_PADRONES=db_padrones
POSTGRES_PORT_PADRONES=5432

# Bases de datos Expedientes
POSTGRES_DB_EXPEDIENTES=expedientes_db
POSTGRES_USER_EXPEDIENTES=admin_expedientes
POSTGRES_PASSWORD_EXPEDIENTES=secret_expedientes
POSTGRES_HOST_EXPEDIENTES=db_expedientes
POSTGRES_PORT_EXPEDIENTES=5432

# Configuraciones Django
DJANGO_SECRET_KEY_PADRONES=django-insecure-4h6z5pk=on@+4$d7vh7f+owj34m-kciv6sds3^=jthv!a=_g@s
DJANGO_SECRET_KEY_EXPEDIENTES=django-insecure-someothersecretkey
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# Comunicacion entre APIs
API_EXPEDIENTES_URL=http://api_expedientes:8000/api/recibir-solicitud/

# Frontend (Vite)
VITE_BACKEND_URL=http://api_padrones:8000
